.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 10rem 0;

    &__legal {
        text-align: center;
        margin-top: 6rem;
        font-size: 1.4rem;
        color: $color-grey-light-1;
    }
}

.nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            font-size: 1.4rem;
            color: #fff;
            text-transform: uppercase;
            font-family: $font-display;
            padding: 1rem 2rem;
            text-align: center;
            display: block;
        }

        &:hover,
        &:active {
            background-color: rgba(255, 255, 255, 0.05);
            transform: translateY(-3px);
        }
    }
}