.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: flex-end;
        align-items: center;
    }
}

.nav-btn {
    position: relative;
    display: inline-block;
    width: 4.5rem;
    height: .2rem;
    border: none;
    border-radius: 0;
    background-color: #fff;
    margin-top: 4rem;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: .2rem;
        background-color: #fff;
        border-radius: 0.25rem;
    }

    &::before {
        top: -1.5rem;
    }

    &::after {
        bottom: -1.5rem;
    }

    @media only screen and (max-width: $bp-large) {
        margin-top: 0;
        margin-right: 2rem;
    }
}